*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  /* color-scheme: light dark; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* colors */
  --primary-bg: rgb(242, 242, 242);
  --secondary-bg: rgb(66, 66, 66);
  --faint-black: rgb(101, 107, 115);
  --header-text: rgb(91, 94, 96);
  --white: #fff;
  --border: #d8dae5;
  --text-grey: #8f95b2;
  --error: rgb(255, 53, 90);

  /* faint colors */
  --secondary-bg-f: rgba(66, 66, 66, 0.9);

  /* fonts sizes */
  --heading-1: clamp(1.5rem, 5%, 2.5rem);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-bg);
  /* max-height: 100%; */
  /* max-height: 100vh; */

  overflow: hidden;
}

p,
h1,
h2,
h3 {
  margin: unset;
  padding: unset;
}

ul {
  padding: unset;
  margin: unset;
}
